// Colors
$black: #000;
$white: #ffffff;
$whitish: #f5f5f5;
$lightgrey: #e3e3e3;

$fontblue: #172343;

$darkblue: #11182C;
$darkbluelighter: #1F2947;
$appblue: #4B58FF;
$appbluedarker: #3D4AED;
$apptagblue: #3642CB;
$appfontbluedarker: #C9CDFF;
$appbgtext: #E6EBB8;
$housemint: #c2d8d3;
$housemintdarker: #ABD0C7;
$housemintlight:#d9efea;
$housemintdark: #84B6AA;
$housemintdarkest: #9ABEB6;
$goodterra: #debdab;
$gooddarkterra: #CC9C82;
$goodlightterra: #FEDBC9;
$empiricsgrey: #ededed;
$aboutgrey: #c2c8d8;
$imprintyellow: #fbffdc;
$clusterfontblue: #95B1FF;
$contactyellow: $imprintyellow;


// Breakpoints
$br-mobile: 375px;
$br-tablet: 768px;
$brd: 1180px; // was 1024px
$brmed: 1730px; // for vici laptop
$brbig: 1920px; // was 1440px

// paddings
$padMob: 12px;
$padDes: 30px;